<div class="p-card p-shadow-3 p-3 text-center">
  <h2 class="p-text-bold p-text-center p-mb-2">
    🌟 Bienvenido al proyecto de prueba de Angular + PrimeNG + Storybook 🌟
  </h2>
  <p class="p-text-secondary">Autora: <strong>Intissar Balouk Anakar</strong></p>
</div>

<p-divider></p-divider>

<!-- Menú -->
<h3 class="p-text-center p-mb-2">📌 Menú de navegación</h3>
<div class="p-card p-shadow-3 p-3">
  <p-tabMenu [model]="items"></p-tabMenu>
</div>

<p-divider></p-divider>

<!-- Entrada de Texto -->
<h3 class="p-text-center p-mb-2">📝 Campo de texto</h3>
<div class="p-grid p-justify-center p-mt-3">
  <div class="p-col-12 p-md-6">
    <p-card>
      <ng-template pTemplate="title"> Introducir Texto </ng-template>
      <ng-template pTemplate="content">
        <p>Introduce tu texto aquí:</p>
        <input pInputText class="p-mb-2 p-inputtext-lg p-fluid" [(ngModel)]="value" placeholder="Escribe algo..." />
      </ng-template>
    </p-card>
  </div>
</div>

<p-divider></p-divider>

<!-- Selección de Fecha -->
<h3 class="p-text-center p-mb-2">📅 Selección de Fecha</h3>
<div class="p-grid p-justify-center p-mt-3">
  <div class="p-col-12 p-md-6">
    <p-card>
      <ng-template pTemplate="title"> Seleccionar Fecha </ng-template>
      <ng-template pTemplate="content">
        <p-calendar [(ngModel)]="date1" [showIcon]="true" [showOnFocus]="false" inputId="buttondisplay"></p-calendar>
      </ng-template>
    </p-card>
  </div>
</div>

<p-divider></p-divider>

<!-- Botones -->
<h3 class="p-text-center p-mb-2">🎛️ Botones de acción</h3>
<div class="p-grid p-justify-center p-mt-3">
  <div class="p-col-12 p-md-8 p-text-center">
    <p-button label="Primary" class="p-m-1" />
    <p-button label="Success" class="p-m-1" severity="success" />
    <p-button label="Info" class="p-m-1" severity="info" />
    <p-button label="Warning" class="p-m-1" severity="warning" />
    <p-button label="Danger" class="p-m-1" severity="danger" />
  </div>
</div>
